body {
    background-color: #dfdfde;
    text-align: center;
}

h2 {
    color: #a2798f;
    font-size: 80px;
    font-family: "Bahnschrift Condendsed";
    margin-top: 100px;
}

#timer {
    position: fixed;
    top: 10px;
    right: 10px;
    font-size: larger;
    color: #8caba8;
}

#endTime {
    position: fixed;
    top: 65px;
    right: 10px;
    font-size: medium;
    color: 	#a2798f;
}

#result {
    position: fixed;
    top: 80px;
    right: 10px;
    font-size: medium;
    color: 	#a2798f;
}

#timer {
    position: fixed;
    top: 10px;
    right: 10px;
    font-size: x-large;
}

#stop {
    position: fixed;
    top: 50px;
    right: 10px;
    background-color: #8caba8;
}
